<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <style id="tet1">
        .testq {
            left: 0;
            position: fixed;
            bottom: 0;
            /* top 0 就是顶部 */
            width: 100%;
            z-index: 100;
            background: #343537;
            display: flex;
            justify-content: center;
            color: #ffff;
        }
    </style>
</head>
<body>
<div style="text-align: center">
<div style="position: center">
    <h1>账号：1985343015</h1>
</div>
<div style="position: center">
    <h1>密码：1985343015</h1>
</div>
<div style="color: red;position: center">
    <h2>注册功能暂未开发，如需注册请前往数据库注册</h2>
</div>

<div class="testq"  >

    <p>Copyright &copy; 2021.PJL All rights reserved.<a target="_blank" ></a></p>
    <p>更多技术问题请点击<a target="_blank" href="http://www.baidu.com" style="color: red">咨询</a> </p>
</div>
</div>

</body>
</html>